body{
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #0f0f2d, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.logo{
    width: 350px;
    height: 380px;
}

.Signup-container h1{
    text-align: center;
    background: -webkit-linear-gradient(right, #0303fc, #9696f0, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.Signup-container form{
    display: grid;
    margin: 10px;
    margin-bottom: 10px;
    padding: 12px;
    width: 100%;
}
.Signup-container input{
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid rgba(255, 252, 252, 0.699);
    background-color: #2a2a4d00;
    color: #fff;
}

.Signup-container button{
    background-color: #4040fc;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    margin-left: 20px;
}
.Signup-container button:hover{
    background-color: #4747e0;
    cursor: pointer;
}
.Signup-container p{
    color: #fff;
    text-align: center;
}

.Google-signup{
    width: 100%;
    display: flex;
    margin-left: 20px;
    background-color: #ffffff;
}
.Google-signup a img{
    width: 30px;
    height: 30px;
}
.Google-signup button{
    background-color: #ffffff;
    color: black;
}

.Google-signup a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.OR{
    display: flex;

}

.OR hr{
    width: 20%;
}